{% load static %}
<!--{% static '/' %}-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>event details</title>
    <link  rel="stylesheet" href="{% static 'css/bootcamp.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Markazi+Text&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Unkempt&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Artifika&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Spartan:wght@500&display=swap" rel="stylesheet">
</head>
<body>
    <div class="main" >
        <img class="logo" src="/static/img/logo.png" alt="logo of tinkerhub">
        <div class="nav">
            <nav>
                <ul>
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li><a href="#contact">Contact Us</a></li>
                    
                </ul>
            </nav>
        </div>
        <div class="first">
            <h1>Bootcamp</h1>
            <img src="/static/img/card2.jpg" alt="image of buit from zero" width="400px" height="440px"><br>
           
        
        <div class="text">
            <button class="onn">About The Event</button>
            <p>In publishing and graphic design, Lorem ipsum is a placeholder text commonly used to demonstrate the visual form of a document or a typeface without relying on meaningful content. Lorem ipsum may be used as a placeholder before final copy is available.</p>
            <p style="color: brown;">Number of registerd students : </p>
            <button class="rand">Date & Time</button>
            <p>August 19<br> 7.00 PM<br>Govt College Of Engineering Kannur</p>
            
        </div>
        </div>
        <div id="footer">
            <a class="footerlink" href="https://webmail.au.syrahost.com/" target="blank">Mail</a>
            <a class="footerlink" href="#">Intagram</a>
            <a class="footerlink" href="#">Github</a>
            <p>&copy; TinkerHub GCEK | All Rights Reserved</p>
        </div> 
    </div>
    
</body>
</html>